@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.6rem;
}

.content-box {
  max-width: 130rem;
  margin: auto;
}

.paragraph {
  font-size: 1.8rem;
  color: #b0b2c5;
  line-height: 1.5;
}

.heading {
  color: #3e3f5e;
}

.container-first {
  width: 85%;
  margin: auto;
}

.container-second {
  width: 80%;
  margin: auto;
}
