@media (max-width: 84em) {
  .video-sec {
    width: 100%;
  }

  .showcase {
    width: 100%;
  }
}

@media (max-width: 75em) {
  .showcase img {
    width: 100%;
  }

  .intro-heading {
    font-size: 8rem;
  }
}

/* @media (max-width: 59em) { */
.navbar {
  padding: 30px 30px;
}

.footer-display {
  display: block;
}

.footer-social-link {
  text-align: center;
  margin-top: 30px;
}
/* } */

@media (max-width: 59em) {
  .intro-heading {
    font-size: 6rem;
  }

  .intro-para {
    width: 60rem;
  }

  .community-section {
    margin-top: 10rem;
  }

  .grid {
    display: block;
  }

  .community-heading {
    font-size: 4.5rem;
  }

  .community-para {
    margin-top: 2rem;
  }

  .grid-community-section {
    display: block;
    margin-top: 10rem;
  }

  .showcase {
    margin-top: 10rem;
  }

  .feature-grid {
    display: block;
    margin-bottom: 10rem;
    text-align: center;
  }

  .sec-features {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .feature-sec-heading {
    font-size: 4rem;
  }

  .community-detail-heading {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 2rem;
  }

  .sec-community-icon {
    margin-top: 0;
  }

  .sec-community-details-grid {
    display: block;
    width: 100%;
    margin-left: 2.5rem;
  }

  .community-details {
    margin-bottom: 5rem;
  }

  .sec-community-detail-grid-heading {
    margin: 5rem 0 1rem 0;
  }

  .question-section {
    display: block;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .question-section-heading {
    font-size: 4rem;
    margin: 2.5rem 0;
  }

  .sec-preview-heading {
    margin: 2.5rem 0;
    font-size: 4rem;
  }

  .video-sec {
    width: 100%;
    height: 40rem;
  }

  .footer {
    margin-top: 10rem;
  }
}

@media (max-width: 47em) {
  .navbar ul {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 42em) {
  .navbar {
    padding: 1rem 0;
  }

  .navbar ul {
    font-size: 1.2rem;
  }

  .feature-img {
    width: 100%;
  }

  .intro-para {
    width: 100%;
  }

  .community-detail-para {
    width: 100%;
  }

  .sec-preview-para {
    width: 100%;
  }
}

@media (max-width: 34em) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar ul {
    font-size: 1rem;
    gap: 1rem;
  }

  .logo-name {
    display: none;
  }

  .company-logo {
    margin: 1rem;
  }

  .navbar-btn {
    margin: 1rem;
    width: 8rem;
    padding: 1rem;
  }

  .intro-heading {
    font-size: 5rem;
  }

  .intro-para {
    width: 100%;
    margin: 1.5rem auto;
  }

  .community-heading {
    font-size: 4rem;
  }

  .showcase {
    margin-top: 10rem;
  }

  .feature-img {
    width: 100%;
  }

  .feature-grid {
    margin-bottom: 8rem;
  }
  build js .community-detail-heading {
    font-size: 4rem;
  }

  .community-detail-para {
    width: 100%;
    margin: auto;
  }

  .sec-community-icon {
    margin-left: -4rem;
  }

  .sec-preview-para {
    width: 100%;
    margin: auto;
  }

  .footer ul {
    gap: 1rem;
    font-size: 1rem;
  }
}
